@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --google-font: var(--google-font);
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

html {
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

body {
  font-family: var(--google-font);
}

.shadow-pad {
  box-shadow: -10px 0px 100px 0px;
}

.boxing-shadow {
  box-shadow: 0 0 0px 3px white;
}

.init-animation {
  animation: 8s infinite ease cube-animation;
}

@keyframes cube-animation {
  0% {
    transform: rotateY(0deg) rotateX(0deg);
  }
  100% {
    transform: rotateY(360deg) rotateX(360deg);
  }
}

.face-hover {
  animation: 0.1s forwards ease face-hover-anim;
}
@keyframes face-hover-anim {
  0% {
    box-shadow: 0 0 5px 20px rgb(252, 2, 177);
  }
  100% {
    box-shadow: 0 0 0px 0px rgb(255, 255, 255);
  }
}

.sand-box-gradient {
  background-color: #556;
  background-image: linear-gradient(
      30deg,
      #445 12%,
      transparent 12.5%,
      transparent 87%,
      #445 87.5%,
      #445
    ),
    linear-gradient(
      150deg,
      #445 12%,
      transparent 12.5%,
      transparent 87%,
      #445 87.5%,
      #445
    ),
    linear-gradient(
      30deg,
      #445 12%,
      transparent 12.5%,
      transparent 87%,
      #445 87.5%,
      #445
    ),
    linear-gradient(
      150deg,
      #445 12%,
      transparent 12.5%,
      transparent 87%,
      #445 87.5%,
      #445
    ),
    linear-gradient(
      60deg,
      #99a 25%,
      transparent 25.5%,
      transparent 75%,
      #99a 75%,
      #99a
    ),
    linear-gradient(
      60deg,
      #99a 25%,
      transparent 25.5%,
      transparent 75%,
      #99a 75%,
      #99a
    );
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
  animation: infinite linear 20s sand-box-anim;
}

@keyframes sand-box-anim {
  100% {
    background-position: 200% 200%;
  }
}

.outer-face-shadow {
  box-shadow: 0px 0px 30px 20px black;
}

.radial-background {
  background: #000000;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 37%,
    rgba(20, 20, 20, 1) 39%,
    rgba(46, 46, 46, 1) 56%,
    rgba(89, 89, 89, 1) 65%,
    rgba(157, 157, 157, 1) 73%,
    rgba(172, 172, 172, 1) 80%,
    rgba(193, 193, 193, 1) 87%,
    rgba(225, 225, 225, 1) 94%,
    rgba(255, 255, 255, 1) 100%
  );

  background-size: 100% 100%;
  background-position: center center;

  animation: infinite ease-in-out alternate-reverse 5s radial-pulse-anim;
}
@keyframes radial-pulse-anim {
  0% {
    background-size: 100% 100%;
    background-position: center center;
  }
  100% {
    background-size: 130% 130%;
    background-position: center center;
  }
}

.hello {
  backdrop-filter: blur(100px);
}

.gradient-cube-overflow {
  background: #ffffff;
  background: linear-gradient(
    360deg,
    rgba(103, 103, 103, 0.5) 10%,
    rgba(254, 252, 252, 0) 100%
  );
}

.radial-overlay {
  background: #ffffff;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 40%,
    rgba(0, 0, 0, 1) 120%
  );
}

.test-grad {
  background: #020024;
  background: linear-gradient(
    360deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

/* Target the entire scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Style the track (background) */
::-webkit-scrollbar-track {
  background: #2e2e2e;
  border-radius: 5px;
}

/* Style the thumb (draggable handle) */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Change thumb color on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Hide scrollbar buttons */
::-webkit-scrollbar-button {
  display: none;
}

.gradient-for-vert-containers {
  background: #000000;
  background: linear-gradient(180deg, rgb(20, 20, 20) 0%, rgb(36, 36, 36) 100%);
}

.gradient-for-thin-containers {
  background: #000000;
  background: linear-gradient(90deg, rgb(20, 20, 20) 10%, rgb(36, 36, 36) 100%);
}

.gradient-for-main {
  background: #575757;
  background: radial-gradient(
    circle,
    rgb(22, 22, 22) 30%,
    rgba(0, 0, 0, 1) 100%
  );
}

.nav-back-light-shadow {
  box-shadow: 1px 1px 20px 0px rgba(255, 255, 255, 0.382);
}

/* #f0abfc =fuchsia-300 #f59e0b  = amber-500 */

.global-button-gradient-active {
  /* background: #3f5efb; */
  background: linear-gradient(91deg, #b45309 0%, #d946ef 100%);
  background-size: 100% 100%;
  background-position: center center;
  animation: 0.4s linear forwards global-button;
}

.global-button-gradient-active-vertical {
  /* background: #3f5efb; */
  background: linear-gradient(45deg, #b45309 0%, #d946ef 100%);
  background-size: 100% 100%;
  background-position: center center;
  &:hover {
    background: linear-gradient(130deg, #b45309 0%, #d946ef 100%);
    background-size: 100% 100%;
    background-position: center center;

    animation: 0.4s linear forwards global-button-2;
  }
}

.global-button-gradient:hover {
  /* background: #3f5efb; */
  background: linear-gradient(91deg, #b45309 0%, #d946ef 100%);

  background-size: 100% 100%;
  background-position: center center;
  animation: 0.4s linear forwards global-button;
}

@keyframes global-button {
  0% {
    opacity: 0;
    background-size: 100% 100%;
    background-position: top left;
    filter: brightness(2);
  }
  30% {
    opacity: 1;
  }
  50% {
    background-size: 400% 400%;
    background-position: 150% 300%;
  }
  100% {
    background-size: 100% 100%;
    background-position: bottom right;
    filter: brightness(1);
  }
}

@keyframes global-button-2 {
  0% {
    opacity: 0;
    background-size: 100% 100%;
    background-position: top left;
    filter: brightness(2);
  }
  30% {
    opacity: 1;
  }
  50% {
    background-size: 400% 400%;
    background-position: 150% 130%;
  }
  100% {
    background-size: 100% 100%;
    background-position: bottom right;
    filter: brightness(1);
  }
}

@layer components {
  body {
    @apply bg-black;
  }

  h3 {
    @apply text-white;
  }
  .global-button {
    @apply bg-neutral-900;
  }

  .bg-standard {
    @apply bg-neutral-800;
  }
  .outline-standard {
    @apply outline-5 -outline-offset-6 outline-neutral-900;
  }

  section,
  div,
  button {
    @apply border-neutral-600 text-neutral-300;
  }
}

.show-feature-section:hover {
  svg {
    transform: translateY(0);
    animation: 0.5s ease-in-out infinite show-feature-section-anim;
  }
}

@keyframes show-feature-section-anim {
  50% {
    transform: translateY(5);
  }
}

.expand-image-chevron {
  transform: translateX(2px) scale(1.1);
  animation: ease-in-out 0.5s infinite expand-image-chevron-anim;
}

@keyframes expand-image-chevron-anim {
  50% {
    transform: translateX(-4px);
  }
}

/* .global-button-parent-12 {
    @apply group transition-all duration-300 global-button-gradient;
  }
  .global-button-icon-1233 {
    @apply group-hover:scale-120 group-hover:mr-5 transition-all group-hover:text-amber-500 duration-300;
  }
  .global-button-text-123 {
    @apply group-hover:scale-110 transition-all duration-300;
  } */
